.user-summary-input {
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #888;
  outline: none;
  overflow-y: scroll;
  margin: auto;
  height: 80%;
  width: 100%;
}

.overlay {
  margin: auto;
  position: relative;
  overflow-y: scroll;
  background: white;
  height: 100vh;
  width: 100vw;
}

.show-trip-button .hide {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.device-status-table th {
  text-align: center;
}
