.user-summary-input {
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #888;
  outline: none;
  overflow-y: scroll;
  height: 100% !important;
  width: 100% !important;
  resize: none;
  outline: none !important;
}

.dialog {
  height: 95vh !important;
  width: 95vw !important;
}

.show-trip-button {
  bottom: 0;
  position: absolute;
  margin: 0.25rem;
}

.capitalize {
  text-transform: capitalize;
}

.device-status-table th {
  text-align: center;
}

.file-input {
  margin-right: auto;
}
